<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>财务明细</title>
    <!-- 若您需要使用Kendo UI Professional，请联系版权人获得合法的授权或许可。 -->
    <!-- Bootstrap css -->
    <link href="https://magicbox.bkclouds.cc/static_api/v3/assets/bootstrap-3.3.4/css/bootstrap.min.css" rel="stylesheet">
    <!-- kendo ui css -->
    <link href="https://magicbox.bkclouds.cc/static_api/v3/assets/kendoui-2015.2.624/styles/kendo.common.min.css" rel="stylesheet">
    <link href="https://magicbox.bkclouds.cc/static_api/v3/assets/kendoui-2015.2.624/styles/kendo.default.min.css" rel="stylesheet">
    <!-- font-awesome -->
    <link href="https://magicbox.bkclouds.cc/static_api/v3/assets/fontawesome/css/font-awesome.css" rel="stylesheet">
    <!--蓝鲸提供的公用样式库 -->
    <link href="https://magicbox.bkclouds.cc/static_api/v3/bk/css/bk.css" rel="stylesheet">
    <link href="https://magicbox.bkclouds.cc/static_api/v3/bk/css/bk_pack.css" rel="stylesheet">
    <!-- 如果要使用Bootstrap的js插件，必须先调入jQuery -->
    <script src="https://magicbox.bkclouds.cc/static_api/v3/assets/js/jquery-1.10.2.min.js"></script>
    <!-- 包括所有bootstrap的js插件或者可以根据需要使用的js插件调用　-->
    <script src="https://magicbox.bkclouds.cc/static_api/v3/assets/echarts-2.0/echarts-all.js"></script>
    <script src="https://magicbox.bkclouds.cc/static_api/v3/assets/bootstrap-3.3.4/js/bootstrap.min.js"></script>
    <!-- 包括所有kendoui的js插件或者可以根据需要使用的js插件调用　-->
    <script src="https://magicbox.bkclouds.cc/static_api/v3/assets/kendoui-2015.2.624/js/kendo.all.min.js"></script>
    <script src="https://magicbox.bkclouds.cc/static_api/v3/assets/echarts-2.0/echarts-all.js"></script>
    <script src="https://magicbox.bkclouds.cc/static_api/v3/bk/js/bk.js"></script>
    <!-- 数据埋点统计 -->
    <script src="https://magicbox.bkclouds.cc/static_api/analysis.js"></script>
    <!-- 以下两个插件用于在IE8以及以下版本浏览器支持HTML5元素和媒体查询，如果不需要用可以移除 -->
    <!--[if lt IE 9]><script src="https://magicbox.bkclouds.cc/static_api/v3/assets/js/html5shiv.min.js"></script><script src="https://magicbox.bkclouds.cc/static_api/v3/assets/js/respond.min.js"></script><![endif]-->
</head>

<body class="bg-bright2" data-bg-color="bg-bright2">
    <div class="king-page-box">
        <div class="king-layout1-header">
            <nav class="navbar navbar-default king-horizontal-nav3     f14" role="navigation">
                <div class="nav-container">
                    <div class="navbar-header">
                        <button class="navbar-toggle collapsed" type="button" data-toggle="collapse" data-target="#bk-example-navbar-collapse-3">
                            <span class="sr-only">Toggle navigation</span>
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                        </button>
                        <a class="navbar-brand" href="javascript:;">
                            <img class="logo" alt="" src="https://magicbox.bkclouds.cc/static_api/v3/bk/images/logo.png"> </a>
                    </div>
                    <div class="collapse navbar-collapse navbar-responsive-collapse" id="bk-example-navbar-collapse-3">
                        <ul class="nav navbar-nav ">
                            <!--<li :class="{'bk-cur':item.active}"  v-for="item in renderData.items">-->
                            <li> <a href="/index">首页<span></span></a> </li>
                            <li> <a href="javascript:void(0);">项目管理<span class="caret"></span></a>
                                <ul class="dropdown-menu" role="menu" style="display: none;">
                                    <li><a href="/admin/summary">项目汇总</a></li>
                                    <li><a href="/admin/process">项目流程</a></li>
                                </ul>
                            </li>
                            <li> <a href="/admin/evaluation">评估管理<span></span></a> </li>
                            <li class="bk-cur"> <a href="javascript:void(0);">财务管理<span class="caret"></span></a>
                                <ul class="dropdown-menu" role="menu" style="display: none;">
                                    <li><a href="/admin/capitalpool">资金池</a></li>
                                    <li><a href="/admin/finance">财务历史</a></li>
                                    <li><a href="/admin/detail">财务处打款</a></li>
                                    <li><a href="/admin/tender">采招办招标</a></li>
                                </ul>
                            </li>
                            <li> <a href="/admin/files">文档管理<span></span></a> </li>
                            <li> <a href="/admin/user">用户信息<span></span></a> </li>
                        </ul>
                        <form class="navbar-form navbar-left" role="search">
                            <div class="form-group">
                                <input class="form-control" type="text" placeholder="搜索..."> </div>
                        </form>
                        <ul class="nav navbar-nav navbar-right">
                            <li>
                                <a href="javascript:;">
                                    <img class="avatar" src="https://magicbox.bkclouds.cc/static_api/v3/components/horizontal_nav3/images/avatar.png">
                                    <span>{{ request.session.username }}</span>
                                </a>
                            </li>
                        </ul>
                    </div>
                </div>
            </nav>
        </div>
        <div class="king-layout1-main clearfix;">
            <!-- sidebar start -->
            <div class="king-layout1-sidebar" style="width:216px;position: relative;top: 50px;">
                <nav class="   f14" style="height:100%;">
                    <div class="king-vertical-nav4">
                        <div class="sidebar-inner">
                            <ul class="navi">
                                {% for key, item in projects_dict %}
                                    {% if key != project_id %}
                                        <li class="has_submenu current open c-open">
                                            <a href={{ "/admin/detail&id=" }}{{ key }}{{ "&page=" }}{{ page }}> <i class="fa fa-tasks "></i>
                                                <span>{{ item.name }}</span>
                                                <span class="pull-right"><i class="fa fa-angle-down"></i></span>
                                            </a>
                                            <ul class="sub-menu"> </ul>
                                        </li>
                                    {% else %}
                                        <li class="has_submenu current open c-open active">
                                            <a href="{{ "/admin/detail&id=" }}{{ key }}{{ "&page=" }}{{ page }}" style="background-color: #64a9ff"> <i class="fa fa-tasks ">                        </i>
                                                <span>{{ item.name}}</span>
                                                <span class="pull-right"><i class="fa fa-angle-down"></i></span>
                                            </a>
                                            <ul class="sub-menu"> </ul>
                                        </li>
                                    {% endif %}
                                {% endfor %}
                            </ul>
                        </div>
                    </div>
                </nav>
            </div>
            <!-- sidebar end -->
            <!-- content start -->
            <div class="king-content-wrap">
                <div class="king-layout1-content" style="margin-left: 300px;margin-right: 100px;position: relative;top: 50px;">
                    <div class="king-block king-block-themed bk-ranger-box mb10" id="list_1525748296288">
                        <div class="king-block-header king-info">
                            <h3 class="king-block-title pt10 pb10">
                            {% for key, item in projects_dict %}
                                {% if key == project_id %}
                                    <span class="fa fa-bar-chart mr5"></span>{{ item.name }} 打款明细</h3>
                                {% endif %}
                            {% endfor %}
                        </div>
                        <div class="wrapper" id="table9_demo1" style="height: 350px;overflow: auto;position: relative;">
                         <table class="table table-out-bordered table-bordered table-header-bg table-hover">
                         <thead>
                         <tr>
                                <th style="width: 50px;">序号</th>
                                <th style="width: 150px;">款项</th>
                                <th style="width: 100px;">金额</th>
                                <th style="width: 100px;">打款账户</th>
                                <th style="width: 100px;">打款时间</th>
                                <th style="width: 100px;">经办人</th>
                                <th></th>
                            </tr>
                        </thead>
                        <tbody>
                            {% for key, item in detail %}
                            <tr>
                                <td style="width: 50px;">{{ key }}</td>
                                <td style="width: 150px;">{{ item.name }}</td>
                                <td style="width: 100px">{{ item.money }}</td>
                                <td style="width: 100px;">{{ item.account }}</td>
                                <td style="width: 100px">{{ item.date }}</td>
                                <td style="width: 100px;">{{ item.grant }}</td>
                                <td></td>
                            </tr>
                        {% endfor %}
                        <tr>
                             <form method="post" action={{ "/admin/detail&id=" }}{{ project_id }}{{ "&page=" }}{{ page }}>
                                 <td></td>
                                 <td><input style="width: 100px;"name="name"></td>
                                 <td><input style="width: 50px;"name="money"></td>
                                 <td><input style="width: 100px;"name="account"></td>
                                 <td><input value="{{ date }}" style="width: 150px;"name="date"></td>
                                 <td><input value="{{ request.session.username }}" style="width: 100px;"name="grant"></td>
                                 <td><button type="submit" class="king-btn mr10  king-default" style="margin: 0;">添加</button></td>
                             </form>
                         </tr>
                         </tbody>
                         </table>
                        </div>
                    <!-- 设置面板Start -->
                    <template id="list2_header_tpl">
                        <tr>
                            <th class="p15" style="width:20%;">#index#</th>
                            <th style="width:40%;">#name#</th>
                            <th>#score#</th>
                        </tr>
                    </template>
                    <template id="list2_tpl">
                        <tr>
                            <td class="p15" style="width:20%;">#index#</td>
                            <td style="width:40%;">#name#</td>
                            <td>#score#</td>
                        </tr>
                    </template>
                    <template id="list2_nodata_tpl">
                        <tr>
                            <td colspan="3">
                                <p class="bk-nodata-tip">暂时没有数据</p>
                            </td>
                        </tr>
                    </template>
                    <!-- 设置面板End -->
                    {% if page_list|length > 1 %}
                        <nav aria-label="Page navigation" style='position: relative;left:{% widthratio 35 -1 page_list|length|add:-15 %}px;'>
                            <ul class="pagination">
                                <li>
                                    <a href={{ "/admin/detail&page=" }}{{ page|add:-1 }} aria-label="Previous">
                                        <span aria-hidden="true">&laquo;</span>
                                    </a>
                                </li>
                                {% for page_label in page_list %}
                                    {% if page_label != page %}
                                    <li><a href={{ "/admin/detail&page=" }}{{ page_label }}>{{ page_label }}</a></li>
                                    {% else %}
                                    <li class="active"><a href={{ "/admin/finance&page=" }}{{ page_label }}>{{ page_label }}</a></li>
                                    {% endif %}
                                {% endfor %}
                                <li>
                                    <a href={{ "/admin/detail&page=" }}{{ page|add:1 }} aria-label="Next">
                                        <span aria-hidden="true">&raquo;</span>
                                    </a>
                                </li>
                            </ul>
                        </nav>
                    {% endif %}
                </div>
            </div>
            <!-- content end -->
        </div>
    </div>
    <script>
        $(function(){
            var li = $('.navbar-nav li');
            li.each(function(){
                $(this).click(function(){
                    if( $(this).hasClass('opens') && $(this).find('ul li').length !=0){
                        $(this).find('ul').slideUp(250);
                        $(this).removeClass('opens');
                    }else if($(this).find('ul li').length !=0){
                        $(this).find('ul').slideDown(250);
                        $(this).addClass('opens');
                        $(this).siblings('li').removeClass('opens').find('ul').slideUp();
                    }
                });
            });
        })
    </script>
    <script>
        $(function(){
             var li = $('.navi li');
             li.each(function(){
             $(this).click(function(){
             if( $(this).hasClass('c-open')){
                $(this).find('ul').slideUp(350);
                $(this).removeClass('c-open');
             }else{
               $(this).find('ul').slideDown(350);
               $(this).addClass('c-open');
               }
              })
           });
        })
    </script>
    <script>
        $(function(){
                function renderTpl(str, cfg) {
                    var re = /(#(.+?)#)/g;

                    return str.replace(re, function() {
                        var val = cfg[arguments[2]]+'';
                        if(typeof val == 'undefined') {
                            val = '';
                        }
                        return val;
                    });
                }

                // 异步请求后台数据
                $.ajax({
                    url: 'https://magicbox.bkclouds.cc/static_api/v3/components/table6/data.json',
                    type: 'GET',
                    success: function(res){
                        var _html = ' ';
                        var list = res.items;
                        var tpl = $('#tpl_1525788183170').html();
                        var headerTpl =  $('#header_tpl_1525788183170').html();
                        for (var i=0,len=list.length; i < len; i++){
                            var item = list[i];
                            _html += renderTpl(tpl, item)
                        }
                        $('#code_1525788183170 tbody').html(_html);
                        $('.ranger-box thead').html(renderTpl(headerTpl,res.catalogues));
                    }
                });
            });
    </script>
    <div class="modal fade bs-example-modal-lg" id="delete1" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" align="center">
        <div class="modal-dialog modal-lg" role="document" >
            <div class="modal-content" style="height:50px;">
                <div class="modal-body"  style="background-color: white;">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                    <p style="color: #FF6666;font-size: x-large;font-weight: bold;">是否确认删除&hellip;</p>
                </div>
                <div class="modal-footer" style="background-color: white;">
                    <button type="button" class="btn btn-primary" style="position: relative;right: 45%;">确认</button>
                    <button type="button" class="btn btn-default" data-dismiss="modal"style="position: relative;right: 43%;">取消</button>
                </div>
            </div>
        </div>
    </div>
</body>

</html>