<html>

<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>项目审核</title>
    <!-- 若您需要使用Kendo UI Professional，请联系版权人获得合法的授权或许可。 -->
    <!-- Bootstrap css -->
    <link href="https://magicbox.bkclouds.cc/static_api/v3/assets/bootstrap-3.3.4/css/bootstrap.min.css" rel="stylesheet">
    <!-- kendo ui css -->
    <link href="https://magicbox.bkclouds.cc/static_api/v3/assets/kendoui-2015.2.624/styles/kendo.common.min.css" rel="stylesheet">
    <link href="https://magicbox.bkclouds.cc/static_api/v3/assets/kendoui-2015.2.624/styles/kendo.default.min.css" rel="stylesheet">
    <!-- font-awesome -->
    <link href="https://magicbox.bkclouds.cc/static_api/v3/assets/fontawesome/css/font-awesome.css" rel="stylesheet">
    <!--蓝鲸提供的公用样式库 -->
    <link href="https://magicbox.bkclouds.cc/static_api/v3/bk/css/bk.css" rel="stylesheet">
    <link href="https://magicbox.bkclouds.cc/static_api/v3/bk/css/bk_pack.css" rel="stylesheet">
    <!-- 如果要使用Bootstrap的js插件，必须先调入jQuery -->
    <script src="https://magicbox.bkclouds.cc/static_api/v3/assets/js/jquery-1.10.2.min.js"></script>
    <!-- 包括所有bootstrap的js插件或者可以根据需要使用的js插件调用　-->
    <script src="https://magicbox.bkclouds.cc/static_api/v3/assets/echarts-2.0/echarts-all.js"></script>
    <script src="https://magicbox.bkclouds.cc/static_api/v3/assets/bootstrap-3.3.4/js/bootstrap.min.js"></script>
    <!-- 包括所有kendoui的js插件或者可以根据需要使用的js插件调用　-->
    <script src="https://magicbox.bkclouds.cc/static_api/v3/assets/kendoui-2015.2.624/js/kendo.all.min.js"></script>
    <script src="https://magicbox.bkclouds.cc/static_api/v3/assets/echarts-2.0/echarts-all.js"></script>
    <script src="https://magicbox.bkclouds.cc/static_api/v3/bk/js/bk.js"></script>
    <!-- 数据埋点统计 -->
    <script src="https://magicbox.bkclouds.cc/static_api/analysis.js"></script>
    <!-- 以下两个插件用于在IE8以及以下版本浏览器支持HTML5元素和媒体查询，如果不需要用可以移除 -->
    <!--[if lt IE 9]><script src="https://magicbox.bkclouds.cc/static_api/v3/assets/js/html5shiv.min.js"></script><script src="https://magicbox.bkclouds.cc/static_api/v3/assets/js/respond.min.js"></script><![endif]-->
</head>

<body class="bg-white" data-bg-color="bg-white">
    <div class="king-page-box">
        <div class="king-layout1-header">
            <nav class="navbar navbar-default king-horizontal-nav3     f14" role="navigation">
                <div class="nav-container">
                    <div class="navbar-header">
                        <button class="navbar-toggle collapsed" type="button" data-toggle="collapse" data-target="#bk-example-navbar-collapse-3">
                            <span class="sr-only">Toggle navigation</span>
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                        </button>
                        <a class="navbar-brand" href="javascript:;">
                            <img class="logo" alt="" src="https://magicbox.bkclouds.cc/static_api/v3/bk/images/logo.png"> </a>
                    </div>
                    <div class="collapse navbar-collapse navbar-responsive-collapse" id="bk-example-navbar-collapse-3">
                        <ul class="nav navbar-nav ">
                            <!--<li :class="{'bk-cur':item.active}"  v-for="item in renderData.items">-->
                            <li> <a href="/index">首页<span></span></a> </li>
                            <li> <a href="javascript:void(0);">项目管理<span class="caret"></span></a>
                                <ul class="dropdown-menu" role="menu">
                                    <li><a href="javascript:void(0);">项目汇总</a></li>
                                    <li><a href="javascript:void(0);">项目流程</a></li>
                                </ul>
                            </li>
                            <li> <a href="javascript:void(0);">评估管理<span></span></a> </li>
                            <li> <a href="javascript:void(0);">财务管理<span class="caret"></span></a>
                                <ul class="dropdown-menu" role="menu" style="display: none;">
                                    <li><a href="javascript:void(0);">资金池</a></li>
                                    <li><a href="javascript:void(0);">财务历史</a></li>
                                </ul>
                            </li>
                            <li> <a href="javascript:void(0);">文档管理<span></span></a> </li>
                            <li class="bk-cur"> <a href="javascript:void(0);">用户信息<span></span></a> </li>
                        </ul>
                        <form class="navbar-form navbar-left" role="search">
                            <div class="form-group">
                                <input class="form-control" type="text" placeholder="搜索..."> </div>
                        </form>
                        <ul class="nav navbar-nav navbar-right">
                            <li>
                                <a href="javascript:;">
                                    <img class="avatar" src="https://magicbox.bkclouds.cc/static_api/v3/components/horizontal_nav3/images/avatar.png">
                                    <span>信息办</span>
                                </a>
                            </li>
                        </ul>
                    </div>
                </div>
            </nav>
        </div>
        <div class="king-layout1-main clearfix">
            <!-- sidebar start -->
            <div class="king-layout1-sidebar" style="width:216px;"></div>
            <!-- sidebar end -->
            <!-- content start -->
            <div class="row">
    <div class="col-sm-12">
        <div class="king-block king-block-bordered">
            <div class="king-block-header king-gray-light">
                <ul class="king-block-options">
                    <li>
                        <button type="button"><i class="fa fa-cog"></i></button>
                    </li>
                </ul>
                <h3 class="king-block-title">填写个人信息</h3>
            </div>
            <div class="king-block-content">
                <form class="form-horizontal" method="POST">
                    <div class="form-group">
                        <label for="inputCount3" class="col-sm-3 control-label">帐号：</label>
                        <div class="col-sm-7">
                            <input type="text" class="form-control" id="inputCount3" placeholder="用户名/QQ号码/手机号码">
                        </div>
                        <span class="text-danger mt5 fl">*</span>
                    </div>
                    <div class="form-group">
                        <label for="inputEmail3" class="col-sm-3 control-label">电话：</label>
                        <div class="col-sm-7">
                            <input type="email" class="form-control" id="inputEmail3" placeholder="输入邮箱帐号">

                        </div>
                        <span class="text-danger mt5 fl">*</span>
                    </div>
                    <div class="form-group">
                        <label for="inputEmail3" class="col-sm-3 control-label">邮箱：</label>
                        <div class="col-sm-7">
                            <input type="email" class="form-control" id="inputEmail3" placeholder="输入邮箱帐号">

                        </div>
                        <span class="text-danger mt5 fl">*</span>
                    </div>
                    <div class="form-group">
                        <label for="inputPassword3" class="col-sm-3 control-label">密码：</label>
                        <div class="col-sm-7">
                            <input type="password" class="form-control" id="inputPassword3" placeholder="">
                            <p class="help-block">6位以上，仅可由数字、字母、下划线组成</p>
                        </div>
                        <span class="text-danger mt5 fl">*</span>
                    </div>
                    <div class="form-group">
                        <label class="control-label col-sm-3">职位：</label>
                        <div class="col-sm-7">
                            <div class="checkbox">
                                <label class="mr10">
                                    <input type="checkbox" value="">项目组长
                                </label>
                                <label class="mr10">
                                    <input type="checkbox" value="">项目经理
                                </label>
                                <label>
                                    <input type="checkbox" value="" disabled>总负责人
                                </label>
                            </div>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="control-label col-sm-3">性别：</label>
                        <div class="col-sm-7">
                            <div class="radio">
                                <label class="mr10">
                                    <input type="radio" name="optionsRadios" id="optionsRadios1" value="" checked>男
                                </label>
                                <label>
                                    <input type="radio" name="optionsRadios" id="optionsRadios2" value="">女
                                </label>
                            </div>
                        </div>
                    </div>
                    <div class="form-group has-feedback">
                        <label class="control-label col-sm-3" for="introduction">个人说明：</label>
                        <div class="col-sm-7">
                            <textarea class="form-control" rows="3" id="introduction"></textarea>
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-sm-7 col-sm-offset-3">
                            <input type="button" class="king-btn king-success mr10" value="提交" />
                            <input type="reset" class="king-btn king-default" value="取消" />
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
            <!-- content end -->
        </div>
    </div>
    <script>
        $(function(){
            var li = $('.navbar-nav li');
            li.each(function(){
                $(this).click(function(){
                    if( $(this).hasClass('opens') && $(this).find('ul li').length !=0){
                        $(this).find('ul').slideUp(250);
                        $(this).removeClass('opens');
                    }else if($(this).find('ul li').length !=0){
                        $(this).find('ul').slideDown(250);
                        $(this).addClass('opens');
                        $(this).siblings('li').removeClass('opens').find('ul').slideUp();
                    }
                });
            });
        })
    </script>
</body>

</html>