<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>项目汇总</title>
    <!-- 若您需要使用Kendo UI Professional，请联系版权人获得合法的授权或许可。 -->
    <!-- Bootstrap css -->
    <link href="https://magicbox.bkclouds.cc/static_api/v3/assets/bootstrap-3.3.4/css/bootstrap.min.css" rel="stylesheet">
    <!-- kendo ui css -->
    <link href="https://magicbox.bkclouds.cc/static_api/v3/assets/kendoui-2015.2.624/styles/kendo.common.min.css" rel="stylesheet">
    <link href="https://magicbox.bkclouds.cc/static_api/v3/assets/kendoui-2015.2.624/styles/kendo.default.min.css" rel="stylesheet">
    <!-- font-awesome -->
    <link href="https://magicbox.bkclouds.cc/static_api/v3/assets/fontawesome/css/font-awesome.css" rel="stylesheet">
    <!--蓝鲸提供的公用样式库 -->
    <link href="https://magicbox.bkclouds.cc/static_api/v3/bk/css/bk.css" rel="stylesheet">
    <link href="https://magicbox.bkclouds.cc/static_api/v3/bk/css/bk_pack.css" rel="stylesheet">
    <!-- 如果要使用Bootstrap的js插件，必须先调入jQuery -->
    <script src="https://magicbox.bkclouds.cc/static_api/v3/assets/js/jquery-1.10.2.min.js"></script>
    <!-- 包括所有bootstrap的js插件或者可以根据需要使用的js插件调用　-->
    <script src="https://magicbox.bkclouds.cc/static_api/v3/assets/echarts-2.0/echarts-all.js"></script>
    <script src="https://magicbox.bkclouds.cc/static_api/v3/assets/bootstrap-3.3.4/js/bootstrap.min.js"></script>
    <!-- 包括所有kendoui的js插件或者可以根据需要使用的js插件调用　-->
    <script src="https://magicbox.bkclouds.cc/static_api/v3/assets/kendoui-2015.2.624/js/kendo.all.min.js"></script>
    <script src="https://magicbox.bkclouds.cc/static_api/v3/assets/echarts-2.0/echarts-all.js"></script>
    <script src="https://magicbox.bkclouds.cc/static_api/v3/bk/js/bk.js"></script>
    <!-- 数据埋点统计 -->
    <script src="https://magicbox.bkclouds.cc/static_api/analysis.js"></script>
    <!-- 以下两个插件用于在IE8以及以下版本浏览器支持HTML5元素和媒体查询，如果不需要用可以移除 -->
    <!--[if lt IE 9]><script src="https://magicbox.bkclouds.cc/static_api/v3/assets/js/html5shiv.min.js"></script><script src="https://magicbox.bkclouds.cc/static_api/v3/assets/js/respond.min.js"></script><![endif]-->
</head>

<body class="bg-white" data-bg-color="bg-white">
    <div class="king-page-box">
        <div class="king-layout1-header">
            <nav class="navbar navbar-default king-horizontal-nav3     f14" role="navigation">
                <div class="nav-container">
                    <div class="navbar-header">
                        <button class="navbar-toggle collapsed" type="button" data-toggle="collapse" data-target="#bk-example-navbar-collapse-3">
                            <span class="sr-only">Toggle navigation</span>
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                        </button>
                        <a class="navbar-brand" href="javascript:;">
                            <img class="logo" alt="" src="https://magicbox.bkclouds.cc/static_api/v3/bk/images/logo.png"> </a>
                    </div>
                    <div class="collapse navbar-collapse navbar-responsive-collapse" id="bk-example-navbar-collapse-3">
                        <ul class="nav navbar-nav ">
                            <!--<li :class="{'bk-cur':item.active}"  v-for="item in renderData.items">-->
                            <li> <a href="/index">首页<span></span></a> </li>
                            <li class="bk-cur"> <a href="javascript:void(0);">项目管理<span class="caret"></span></a>
                                <ul class="dropdown-menu" role="menu" style="display: none;">
                                    <li><a href="/info/summary">项目汇总</a></li>
                                    <li><a href="/info/process">项目流程</a></li>
                                </ul>
                            </li>
                            <li> <a href="/info/evaluation">评估管理<span></span></a> </li>
                            <li> <a href="javascript:void(0);">财务管理<span class="caret"></span></a>
                                <ul class="dropdown-menu" role="menu" style="display: none;">
                                    <li><a href="/info/capitalpool">资金池</a></li>
                                    <li><a href="/info/finance">财务历史</a></li>
                                </ul>
                            </li>
                            <li> <a href="/info/files">文档管理<span></span></a> </li>
                            <li> <a href="/info/user">用户信息<span></span></a> </li>
                        </ul>
                        <form class="navbar-form navbar-left" role="search">
                            <div class="form-group">
                                <input class="form-control" type="text" placeholder="搜索..."> </div>
                        </form>
                        <ul class="nav navbar-nav navbar-right">
                            <li>
                                <a href="javascript:;">
                                    <img class="avatar" src="https://magicbox.bkclouds.cc/static_api/v3/components/horizontal_nav3/images/avatar.png">
                                    <span>{{ request.session.username }}</span>
                                </a>
                            </li>
                        </ul>
                    </div>
                </div>
            </nav>
        </div>
        <div class="king-layout1-main clearfix">
            <!-- content start -->
            <div class="king-content-wrap">
                <div class="king-layout1-content"style="margin-left: 100px;position: relative;top: 50px;right: 50px;">
                    <table class="table mb0 pr15 ranger-box2;table table-out-bordered table-bordered table-header-bg table-hover ">
                        <thead>
                            <tr>
                                <th style="width: 100px;">项目序号</th>
                                <th style="width: 200px;">项目名称</th>
                                <th style="width: 100px;">项目负责人</th>
                                <th style="width: 100px;">组员</th>
                                <th style="width: 130px;">项目开始时间</th>
                                <th style="width: 70px;">项目进度</th>
                                <th style="width: 100px;">项目状态</th>
                                <th style="width: 100px;">项目初预算</th>
                                <th style="width: 100px;">项目剩余资金</th>
                                <th style="width: 100px;">项目实际花费</th>
                                <th style="width: 100px;">项目运维时间（年）</th>
                                <th style="width: 100px;">项目运维费用</th>
                                <th>操作</th>
                            </tr>
                        </thead>
                        <tbody>
                        {% for key, item in projects_dict %}
                            <tr>
                                <td style="width: 100px;">{{ key }}</td>
                                <td style="width: 200px;">{{ item.name }}</td>
                                <td style="width: 100px;">{{ item.leader }}</td>
                                <td style="width: 150px;">{{ item.teammates }}</td>
                                <td style="width: 100px">{{ item.start }}</td>
                                <td style="width: 100px">{{ item.process }}</td>
                                {% if item.status == "审核中" %}
                                    <td style="width: 100px">待审核</td>
                                {% elif item.status == "审核中..." %}
                                    <td style="width: 100px">审核中</td>
                                {% else %}
                                    <td style="width: 100px">{{ item.status }}</td>
                                {%  endif %}
                                <td style="width: 100px">{{ item.budget }}</td>
                                <td style="width: 100px">{{ item.left }}</td>
                                <td style="width: 100px">{{ item.real }}</td>
                                <td style="width: 100px">{{ item.year }}</td>
                                <td style="width: 100px">{{ item.maintain }}</td>
                                <td>
                                    <form action="{{ "/info/summary&page=" }}{{ page }}" method="post">
                                        <input name="edit" type="hidden" value="{{ key }}">
                                        <button type="submit" class="btn btn-xs btn-warning" style="margin: 10px;"> <i class="glyphicon glyphicon-edit"></i> </button>
                                    </form>
                                </td>
                            </tr>
                        {% endfor %}
                        </tbody>
                    </table>
                    <template id="header_tpl_15257826140982">
                        <tr>
                            <th style="width: 70px;">#index#</th>
                            <th style="width: 15%;">#name#</th>
                            <th style="width: 15%;">#position#</th>
                            <th style="width: 15%;">#date#</th>
                            <th style="width: 15%;">#type#</th>
                            <th>操作</th>
                        </tr>
                    </template>
                    <template id="tpl_15257826140982">
                        <tr>
                            <td style="width: 70px;">#index#</td>
                            <td style="width: 15%;">#name#</td>
                            <td style="width: 15%;">#position#</td>
                            <td style="width: 15%;">#date#</td>
                            <td style="width: 15%;">#type#</td>
                            <td>
                                <button class="btn btn-xs btn-success"> <i class="glyphicon glyphicon-ok"></i> </button>
                                <button class="btn btn-xs btn-warning"> <i class="glyphicon glyphicon-edit"></i> </button>
                                <button class="btn btn-xs btn-danger"> <i class="glyphicon glyphicon-remove"></i> </button>
                            </td>
                        </tr>
                    </template>
                    <!-- 设置面板End -->
                     {% if page_list|length > 1 %}
                        <nav aria-label="Page navigation" style='position: relative;left:{% widthratio 45 -1 page_list|length|add:-15 %}px;'>
                            <ul class="pagination">
                                <li>
                                    <a href={{ "/info/summary&page=" }}{{ page|add:-1 }} aria-label="Previous">
                                        <span aria-hidden="true">&laquo;</span>
                                    </a>
                                </li>
                                {% for page_label in page_list %}
                                    {% if page_label != page %}
                                    <li><a href={{ "/info/summary&page=" }}{{ page_label }}>{{ page_label }}</a></li>
                                    {% else %}
                                    <li class="active"><a href={{ "/info/summary&page=" }}{{ page_label }}>{{ page_label }}</a></li>
                                    {% endif %}
                                {% endfor %}
                                <li>
                                    <a href={{ "/info/summary&page=" }}{{ page|add:1 }} aria-label="Next">
                                        <span aria-hidden="true">&raquo;</span>
                                    </a>
                                </li>
                            </ul>
                        </nav>
                    {% endif %}
                </div>
            </div>
            <!-- content end -->
        </div>
    </div>
    <script>
        $(function(){
            var li = $('.navbar-nav li');
            li.each(function(){
                $(this).click(function(){
                    if( $(this).hasClass('opens') && $(this).find('ul li').length !=0){
                        $(this).find('ul').slideUp(250);
                        $(this).removeClass('opens');
                    }else if($(this).find('ul li').length !=0){
                        $(this).find('ul').slideDown(250);
                        $(this).addClass('opens');
                        $(this).siblings('li').removeClass('opens').find('ul').slideUp();
                    }
                });
            });
        })
    </script>
    <script>
        $(function(){
                function renderTpl(str, cfg) {
                    var re = /(#(.+?)#)/g;

                    return str.replace(re, function() {
                        var val = cfg[arguments[2]]+'';
                        if(typeof val == 'undefined') {
                            val = '';
                        }
                        return val;
                    });
                }

                // 异步请求后台数据
                $.ajax({
                    url: 'https://magicbox.bkclouds.cc/static_api/v3/components/table6/data.json',
                    type: 'GET',
                    success: function(res){
                        var _html = ' ';
                        var list = res.items;
                        var tpl = $('#tpl_1525783774168').html();
                        var headerTpl =  $('#header_tpl_1525783774168').html();
                        for (var i=0,len=list.length; i < len; i++){
                            var item = list[i];
                            _html += renderTpl(tpl, item)
                        }
                        $('#code_1525783774168 tbody').html(_html);
                        $('.ranger-box thead').html(renderTpl(headerTpl,res.catalogues));
                    }
                });
            });
    </script>

</body>

</html>