<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title></title>
    <!-- 若您需要使用Kendo UI Professional，请联系版权人获得合法的授权或许可。 -->
    <!-- Bootstrap css -->
    <link href="https://magicbox.bkclouds.cc/static_api/v3/assets/bootstrap-3.3.4/css/bootstrap.min.css" rel="stylesheet">
    <!-- kendo ui css -->
    <link href="https://magicbox.bkclouds.cc/static_api/v3/assets/kendoui-2015.2.624/styles/kendo.common.min.css" rel="stylesheet">
    <link href="https://magicbox.bkclouds.cc/static_api/v3/assets/kendoui-2015.2.624/styles/kendo.default.min.css" rel="stylesheet">
    <!-- font-awesome -->
    <link href="https://magicbox.bkclouds.cc/static_api/v3/assets/fontawesome/css/font-awesome.css" rel="stylesheet">
    <!--蓝鲸提供的公用样式库 -->
    <link href="https://magicbox.bkclouds.cc/static_api/v3/bk/css/bk.css" rel="stylesheet">
    <link href="https://magicbox.bkclouds.cc/static_api/v3/bk/css/bk_pack.css" rel="stylesheet">
    <!-- 如果要使用Bootstrap的js插件，必须先调入jQuery -->
    <script src="https://magicbox.bkclouds.cc/static_api/v3/assets/js/jquery-1.10.2.min.js"></script>
    <!-- 包括所有bootstrap的js插件或者可以根据需要使用的js插件调用　-->
    <script src="https://magicbox.bkclouds.cc/static_api/v3/assets/echarts-2.0/echarts-all.js"></script>
    <script src="https://magicbox.bkclouds.cc/static_api/v3/assets/bootstrap-3.3.4/js/bootstrap.min.js"></script>
    <!-- 包括所有kendoui的js插件或者可以根据需要使用的js插件调用　-->
    <script src="https://magicbox.bkclouds.cc/static_api/v3/assets/kendoui-2015.2.624/js/kendo.all.min.js"></script>
    <script src="https://magicbox.bkclouds.cc/static_api/v3/assets/echarts-2.0/echarts-all.js"></script>
    <script src="https://magicbox.bkclouds.cc/static_api/v3/bk/js/bk.js"></script>
    <!-- 数据埋点统计 -->
    <script src="https://magicbox.bkclouds.cc/static_api/analysis.js"></script>
    <!-- 以下两个插件用于在IE8以及以下版本浏览器支持HTML5元素和媒体查询，如果不需要用可以移除 -->
    <!--[if lt IE 9]><script src="https://magicbox.bkclouds.cc/static_api/v3/assets/js/html5shiv.min.js"></script><script src="https://magicbox.bkclouds.cc/static_api/v3/assets/js/respond.min.js"></script><![endif]-->
</head>

<body class="bg-white" data-bg-color="bg-white">
    <div class="king-page-box">
        <div class="king-layout1-header">
            <nav role="navigation" class="navbar navbar-default king-horizontal-nav3     f14">
                <div class="nav-container">
                    <div class="navbar-header">
                        <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bk-example-navbar-collapse-3">
                            <span class="sr-only">Toggle navigation</span>
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                        </button>
                        <a class="navbar-brand" href="javascript:;">
                            <img src="https://magicbox.bkclouds.cc/static_api/v3/bk/images/logo.png" alt="" class="logo"> </a>
                    </div>
                    <div class="collapse navbar-collapse navbar-responsive-collapse" id="bk-example-navbar-collapse-3">
                        <ul class="nav navbar-nav ">
                            <!--<li :class="{'bk-cur':item.active}"  v-for="item in renderData.items">-->
                            <li> <a href="/index">首页<span></span></a> </li>
                            <li class="bk-cur"> <a href="javascript:void(0);">项目管理<span class="caret"></span></a>
                                <ul class="dropdown-menu" role="menu" style="display: none;">
                                    <li><a href="/tender/summary">项目汇总</a></li>
                                    <li><a href="/tender/process">项目流程</a></li>
                                    <li><a href="/tender/check">项目审核</a></li>
                                </ul>
                            </li>
                            <li> <a href="/tender/evaluation">评估管理<span></span></a> </li>
                            <li> <a href="/tender/finance">财务管理<span></span></a></li>
                            <li> <a href="/tender/files">文档管理<span></span></a> </li>
                            <li> <a href="/tender/user">用户信息<span></span></a> </li>
                        </ul>
                        <form class="navbar-form navbar-left" role="search">
                            <div class="form-group">
                                <input type="text" class="form-control" placeholder="搜索..."> </div>
                        </form>
                        <ul class="nav navbar-nav navbar-right">
                            <li>
                                <a href="javascript:;">
                                    <img src="https://magicbox.bkclouds.cc/static_api/v3/components/horizontal_nav3/images/avatar.png" class="avatar">
                                    <span>{{ request.session.username }}</span>
                                </a>
                            </li>
                        </ul>
                    </div>
                </div>
            </nav>
        </div>
        <div class="king-layout1-main clearfix">
            <div class="king-block king-block-themed bk-ranger-box mb10" id="list_1525748296288">
                <div class="king-block-header king-info">
                            <h3 class="king-block-title pt10 pb10"><span class="fa fa-bar-chart mr5"></span>项目申请审核</h3>
                </div>
            </div>
            <!-- content start -->
            <div class="king-content-wrap">
                <div class="king-layout1-content" style="margin-left: 150px;position: relative;top: 50px;right: 50px;">
                    <section class="container-fluid">
                        <div class="row">
                            <div class="col-sm-12">
                                <div class="wrapper;" id="table9_demo1" style="height: 350px;overflow: auto;position: relative;">
                                    <table class="table table-out-bordered table-bordered table-header-bg table-hover" id="example1">
                                        <thead>
                                        <tr>
                                            <th style="width: 100px;">序号</th>
                                            <th style="width: 150px;">项目名称</th>
                                            <th style="width: 100px;">项目负责人</th>
                                            <th style="width: 100px;">项目组成员</th>
                                            <th style="width: 200px;">项目预算（万）</th>
                                            <th style="width: 300px;">操作</th>
                                        </tr>
                                        </thead>
                                        <tbody>
                                        {% for key, item in projects_dict %}
                                            <tr>
                                             <td>{{ key }}</td>
                                             <td>{{ item.name }}</td>
                                             <td>{{ item.leader }}</td>
                                             <td>{{ item.teammates }}</td>
                                             <td name="aid">{% widthratio item.budget 10000 1%}</td>
                                             <td>
                                                 <a class="king-btn-demo king-btn king-primary" title="查看" href="{{ "/tender/edit&id=" }}{{ key }}{{"&page=" }}{{ page }}">审核</a>
                                             </td>
                                         </tr>
                                        {% endfor %}
                                         </tbody>
                                         </table>
                                     </div>
                                </div>
                            </div>
                        </section>
                        <!-- 设置面板Start -->
                        <template id="header_tpl_1525746811985">
                            <tr>
                                <th style="width: 100px;">#index#</th>
                                <th style="width: 20%;">#task#</th>
                                <th>#date#</th>
                                <th style="width: 20%;">#progress#</th>
                                <th style="width: 20%;">#host#</th>
                                <th>#date#</th>
                            </tr>
                        </template>
                        <template id="tpl_1525746811985">
                            <tr>
                                <td style="width: 100px;">#index#</td>
                                <td style="width: 20%;">#columnName1#</td>
                                <td>#columnName4#</td>
                                <td style="width: 20%;">#columnName2#</td>
                                <td style="width: 20%;">#columnName3#</td>
                                <td>#columnName4#</td>
                            </tr>
                        </template>
                    <!-- 设置面板End -->
            {% if page_list|length > 1 %}
                    <nav aria-label="Page navigation" style='position: relative;left:{% widthratio 45 -1 page_list|length|add:-15 %}px;'>
                        <ul class="pagination">
                            <li>
                                <a href={{ "/tender/process&page=" }}{{ page|add:-1 }} aria-label="Previous">
                                    <span aria-hidden="true">&laquo;</span>
                                </a>
                            </li>
                            {% for page_label in page_list %}
                                {% if page_label != page %}
                                <li><a href={{ "/tender/summary&page=" }}{{ page_label }}>{{ page_label }}</a></li>
                                {% else %}
                                <li class="active"><a href={{ "/tender/summary&page=" }}{{ page_label }}>{{ page_label }}</a></li>
                                {% endif %}
                            {% endfor %}
                            <li>
                                <a href={{ "/tender/summary&page=" }}{{ page|add:1 }} aria-label="Next">
                                    <span aria-hidden="true">&raquo;</span>
                                </a>
                            </li>
                        </ul>
                    </nav>
                {% endif %}
                </div>
            </div>
            <!-- content end -->
        </div>
    </div>
    <script>
        $(function(){
            var li = $('.navbar-nav li');
            li.each(function(){
                $(this).click(function(){
                    if( $(this).hasClass('opens') && $(this).find('ul li').length !=0){
                        $(this).find('ul').slideUp(250);
                        $(this).removeClass('opens');
                    }else if($(this).find('ul li').length !=0){
                        $(this).find('ul').slideDown(250);
                        $(this).addClass('opens');
                        $(this).siblings('li').removeClass('opens').find('ul').slideUp();
                    }
                });
            });
        })
    </script>
    <script>
        $(function(){
                function renderTpl(str, cfg) {
                    var re = /(#(.+?)#)/g;

                    return str.replace(re, function() {
                        var val = cfg[arguments[2]]+'';
                        if(typeof val == 'undefined') {
                            val = '';
                        }
                        return val;
                    });
                }

                // 异步请求后台数据
                $.ajax({
                    url: 'https://magicbox.bkclouds.cc/static_api/v3/components/table6/data.json',
                    type: 'GET',
                    success: function(res){
                        var _html = ' ';
                        var list = res.items;
                        var tpl = $('#tpl_1525746811985').html();
                        var headerTpl =  $('#header_tpl_1525746811985').html();
                        for (var i=0,len=list.length; i < len; i++){
                            var item = list[i];
                            _html += renderTpl(tpl, item)
                        }
                        $('#code_1525746811985 tbody').html(_html);
                        $('.ranger-box thead').html(renderTpl(headerTpl,res.catalogues));
                    }
                });
            });
    </script>
    <script type="text/javascript">
        $(function() {
            //example1_js_start
            $('#example1').Tabledit({
                url: "./demo.json",
                rowKey: 'a_',
                columns: {
                    identifier: [4, 'aid'],
                    editable: [
                        [1, '序号'], [2, '项目名称'], [3, '项目负责人'],[4, '项目组成员'],[5, '项目预算']
                    ]
                },
                restoreButton: false,
                buttons: {
                    edit: {
                        class: 'btn btn-sm btn-default',
                        html: '<span class="glyphicon glyphicon-pencil"></span>',
                        action: 'edit'
                    },
                    delete: {
                        class: 'btn btn-sm btn-default',
                        html: '<span class="glyphicon glyphicon-trash"></span>',
                        action: 'delete'
                    },
                    save: {
                        class: 'btn btn-sm btn-success',
                        html: '保存'
                    },
                    confirm: {
                        class: 'btn btn-sm btn-danger',
                        html: '确认'
                    }
                },
                onSuccess: function (data, textStatus, jqXHR){
                    console.log('success');
                },
                onFail: function (jqXHR, textStatus, errorThrown){
                    console.log('fail');
                }
            });
            //example1_js_end
            //example2_js_start
            $('#example2').Tabledit({
                url: "./demo.json",
                rowKey: 'b_',
                eventType: 'dblclick',
                editButton: false,
                columns: {
                    identifier: [0, 'bid'],
                    // [[column_index, input_name], [column_index, input_name, select_options]]
                    editable: [[1, 'car'], [2, 'color', '{"1": "Red", "2": "Green", "3": "Blue"}']]
                },
                restoreButton: false,
                buttons: {
                    confirm: {
                        class: 'btn btn-sm btn-danger',
                        html: '确认'
                    }
                }
            });
            });
    </script>
</body>

</html>